@font-face {
  font-family: Khebrat;
  src: url("../fonts/18 Khebrat Musamim Regular.ttf");
}

body{
  padding: 80px;
}

  h1{
    width: 500px;
    margin-top: 50px;
    margin-left: 28%;
    text-align: center;
    font-size: 47px;
    font-family: Neue Einstellung;
    word-wrap: break-word;
    font-weight:900;
  }

  p{
    font-family: Cairo;
  }

  
  .main-container{
    width: 90%;
    padding: 3.5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 100px;
    flex: 4;
  }

  .slide{
    color: black;
    border-radius: 10px;
    width: 100%;
    height: 500px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    flex: 1 30%;
    border: 1px solid #F8EA8C;
  }

  .slide > .tweet-image{
    width: 100%;
    height: 80%;
    object-fit: cover;
    object-position: 50% 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .slide > .tweet-content{
    padding: 0px 20px 0 20px;
    height: auto;
  }

  .slide > .goto{
    width: 100%;
    height: 55px;
    border-style: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .goto > a{
    text-decoration: none;
    color: #122620;
    font-family: Neue Einstellung;
  }

  @media (max-width: 920px) {
    body{
      padding: 20px;
    }
    h1{
      margin-left: 15%;
      width:78%;
      font-size: xx-large;
    }
    .slide {
      flex: 1 46%;
    }
    .slide > .goto{
      width: 100%;
      height: 80px;
      border-style: none;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }



  /* .slide1{
    border-radius: 5px;
    width: 600px;
    height: 400px;
    background-color: burlywood;
  }

  .slide{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
  color: white;
    position: relative;
    width: calc(33.3% - 1.5rem);
    height: auto;
    background:burlywood;
    border-radius: 12px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0;
    font-size: 1.25rem;
    box-sizing: border-box;
    text-align: right;
    position: relative;
  } */

  .slide p{
    font-family: Khebrat;
    text-align: right;
    float: right;
    width: 100%;
    /* background: rgb(0,0,0); */
    /* background: linear-gradient(0deg, rgba(0,0,0,0.7959383582534576) 15%, rgba(89,89,89,0.5550419997100402) 48%, rgba(255,255,255,0) 100%);  */
  }
 